@font-face {
  font-family: 'Acherus Grotesque Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Acherus Grotesque Regular'), url(fonts/acherus_grotesque_-_regular.woff) format('woff');
  }
  

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff4c4; 
}

.layout {
  height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* padding: 5% 0; */
} 

/* .container {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
} */

header,
footer {
  background-color: rgba(255, 82, 82);
}

footer {
  height: 50px;
  /* width: 100vw;
  position: absolute;
  bottom: 5px */
}

footer p {
  line-height: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
}

h1 {
  display: flex;
  justify-content: center;
  color: #fff4c4;
  font-family: 'Acherus Grotesque Regular', Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-shadow: -2px 2px darkmagenta;
  padding: 30px;
}



