@font-face {
  font-family: 'Acherus Grotesque Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Acherus Grotesque Regular'), url(fonts/acherus_grotesque_-_regular.woff) format('woff');
  }
  

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffae6; 
}

.layout {
  height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
} 

header,
footer {
  background-color:#E40001;
}

footer {
  height: 50px;
}

footer p {
  line-height: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
}

h1 {
  display: flex;
  justify-content: center;
  color: #fff4c4;
  font-family: 'Acherus Grotesque Regular', Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-shadow: -2px 2px darkmagenta;
  padding: 30px;
}



